* {
  padding: 0;
  margin: 0;
}


body {
  background-color: #F2F2F2;
  color: black;
  font-style: arial;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
  float: left;
}

li a {
    display: block;
    color: #F2F2F2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: black;
}

footer {
  width: 100%;
  background-color: #333;
  color: white;
}

.nav {
  margin-bottom: 40px;
}

.logo {
  width: 150px;
  height: 40px;
  padding-top: 3px;
}

.discord {
  float: right;
}
